.forecast {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 18px;
    padding: 35px 65px;
}

.forecastHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.graph {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.chart :focus,
.chart :hover {
    outline: none;
}