.widget {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 14px;
}

.widgetHeader {
    align-items: center;
    display: flex;
    gap: 8px;
}

.widgetHeader p {
    color: #A5A1A1;
}

.widgetTextSmall {
    font-size: 24px;
}

.widgetTextBig {
    font-size: 42px;
}