.widgetItems {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.widgetItems article {
    border-radius: 18px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 14px 19px;
}