.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url("./../assets/images/bg-img.png");
    background-color: #0C0C0C;
    box-shadow: inset 0 0 70px 15px #000000;
    overflow: hidden;
}

.main .content {
    display: grid;
    grid-template-columns: 1fr 480px;;
    gap: 10px;
    width: 1250px;
    transform: scale(1);
}

.main .left-widgets {
    display: grid;
    grid-template-rows: 2fr 1fr;
    gap: 10px;
}