html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, figure, figcaption, blockquote, dl, dd {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a:focus,
button:focus,
input:focus {
    outline-offset: 2px;
}

button {
    cursor: pointer;
}