@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
    padding: 0;
    font-family: "Jersey 15", sans-serif;
    color: white;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a:focus,
button:focus,
input:focus {
    outline-offset: 2px;
}

button {
    cursor: pointer;
}