.chat {
    background-color: #121212;
    border-radius: 10px;
    height: fit-content;
    display: grid;
    grid-template-rows: auto 1fr auto ;
    padding: 20px;
    height: 886px;
    gap: 20px;
}

.chibi {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 250px;
}

.main {
    overflow-y: scroll;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contentMessage{
    cursor: pointer;
    width: fit-content;
    padding: 20px;
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: all 0.3s ease-in-out;
}

.contentMessage:hover {
    transition: all 0.3s ease-in-out;
    transform: scale(0.95);
}

.message {
    font-size: 32px;
    font-weight: 400;
    color: #121212;
}

.time {
    font-size: 24px;
    color: #8C8C8C;
    text-align-last: right;
}

.singleMessageLeft {
    display: flex;
    width: 100%;
    justify-content: start;
}

.singleMessageRight {
    display: flex;
    width: 100%;
    justify-content: end;
}

.singleMessageRight .contentMessage{ 
    background-color: #070707;
}

.singleMessageRight .message {
    color: #fff;
}

.date {
    font-size: 42px;
    margin-bottom: 20px;
}

.messageInput::before {
    content: " ";
    display: block;
    height: 2px;
    width: 100%;
    background-color: #fff;
    position: absolute;
    top: -20px;
}

.messageInput {
    display: flex;
    align-items: end;
    position: relative;
    gap: 20px;
}

.messageInput textarea {
    width: 100%;
    background-color: transparent;
    border: 0;
    font-size: 16px;
    color: #fff;
    resize: none;
}

.sendButton {
    background-color: transparent;
    border: 0;
    padding: 0;
    height: 20px;
    transition: all 0.3s ease-in-out;
}

.sendButton:hover {
    transform: rotate(15deg);
    transition: all 0.3s ease-in-out;
}

.messageInput textarea:focus {
    outline: none;
}

.messageInput textarea::-webkit-scrollbar {
    width: 0.4em;
}

.messageInput textarea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.messageInput textarea::-webkit-scrollbar-thumb {
    background-color: #F6F6F6;
}

.main::-webkit-scrollbar {
    width: 0.4em;
}

.main::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.main::-webkit-scrollbar-thumb {
    background-color: #F6F6F6;
}
